body {
  background-color: black;
}

.custom-input {
  /* these are just to center the input element. Not necessery if you gonna place it to somewhere else */
  position: absolute;
  top: 50%;
  left: 50%;
  /* if you want input to be horizontal, delete transform property's rotate value */
  transform: translate(-50%, -50%) rotate(-90deg);
}

.custom-input[type="range"] {
  width: 6rem;
  -webkit-appearance: none;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  opacity: 0.7;
}
.custom-input[type="range"]:hover {
  opacity: 0.9;
}
.custom-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0de4ec;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.custom-input[type="range"]::-moz-range-thumb {
  background-color: #0de4ec;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
}
